/* put your custom css theme in this file */

body, button, textarea, input {
  font-family: "Source Sans Pro";
}

.navbar {
  background: #f5f5f5;
}

.profile, .message {
  background: #f5f5f5;
  color: #333;
}

body {
  background: #e0e0e0;
}

.navbar .message {
  background: #fff;
}

blockquote {
  border-left: 2px solid #008b8b;
}

a {
  color: #008b8b;
}

pre, code {
  color: #555;
}
