/* put your custom css theme in this file */

body, button, textarea, input {
  font-family: "Source Sans Pro";
}

.navbar {
  background: #f5f5f5;
  border-bottom: 1px solid #ddd;
}

.profile, .message {
  background: #f5f5f5;
  color: #444;
  border: 1px solid #ddd;
}

body {
  background: #fff;
}

a { color: #2196f3 }

blockquote {
  border-left: 2px solid #008b8b;
}

pre, code {
  color: #555;
}
