body {
  font-family: 'Source Sans Pro';
  background: #222;
  color: #f5f5f5;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1em;
}

#screen {
  position: absolute;
  top: 35px; 
  right: 0; 
  left: 0; 
  bottom: 0;
}

#scroller {
  max-width: 780px;
  margin-right: auto;
  margin-left: auto;
}

.right { float: right;}

.message {
  background: #333;
  margin-top: .5em;
  padding: .5em;
  border-radius: 5px;
}

.submessage {
  margin-left: 2em;
}


img {
  max-width: 100%;
}

img.small {
  vertical-align: top;  
  width: 25px;
  height: 25px;
  margin-right: .2em;
  border-radius: 3px;
}

a {
  color: cyan;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

pre {
  color: violet;
  width: 100%;
  display: block;
}

code {
  display: inline-block;
  vertical-align: bottom;
}

code, pre {
  overflow: auto;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
  white-space: pre\9;
}

textarea, input {
  background: #222;
  padding: .5em;
  color: #f5f5f5;
  border: none;
  border-radius: 5px;
}

textarea {
  width: 100%;
}

.navbar {
  background: #333;
  border-bottom: 1px solid #222;
}

.navbar {
  width: 100%;
  position: fixed;
  z-index: 1000;
  margin: 0;
  padding-top: .3em;
  padding-bottom: .3em;
  left: 0; right: 0;
  top: 0;
}

.navbar .internal {
  max-width: 97%;
  margin-left: auto;
  margin-right: auto;
}

.navbar li {
  margin-top: .15em;
  float: left;
  margin-right: .6em;
  margin-left: .3em;
  list-style-type: none;
}

.navbar li.right {
  padding-left: .4em;
  padding-right: .4em;
  margin-top: .3em;
  margin-right: 1.7em;
  float: right;
  list-style-type: none;
  background: #333;
  border-radius: 100%;
}

.navbar a {
  color: #999;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  text-decoration: none;
}

.navbar a:hover, .navbar a:focus {
  color: #fff;
  text-decoration: none;
}

button {
  display: inline-block;
  padding: 2px 6px;
  margin: .2em .2em .2em 0em;
  font-size: 14px;
  line-height: 20px;
  color: #d5d5d5;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #222;
  border: 1px solid #222;
  border-radius: 4px;
}

button:hover,
button:focus,
button:active {
  color: white;
  background-color: black;
}

button.active {
  background-color: #111;
}

